@import url(https://fonts.googleapis.com/css?family=Poppins);

.bg-burgundy {
    background-color: rgb(57, 23, 17);
}
.container {
    display: block;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.boxItem {
    padding: 5px;
    display: grid;
    border: 0px solid;
    margin: 10px;
    flex-basis: calc(50% - 20px);
}

.boxItem:nth-child(2) {
    transition-delay: 200ms;
}

.break {
    display: flex;
    flex-basis: 100%;
    height: 0;
}

button {
    display: flex;
    justify-content: center;
}

textarea {
    flex: 1;
    height: 100%;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.textArea:nth-child(1) {
    transition-delay: 200ms;
}
.textArea:nth-child(1) {
    transition-delay: 400ms;
}

body {
    background-color: rgb(23, 21, 21);
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
    padding: 10px;
    font-weight: 20;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}